<a href="https://colab.research.google.com/github/SilverSatarupa/ETL_Creation/blob/main/real_estate_company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You work for a real estate company that manages properties on behalf of multiple landlords. You have been provided with two datasets:

One contains details of all properties (prop_properties)

The other contains information about the landlords (prop_landlords)

Your task is to summarize the total rental income generated by each landlord and display their full name along with their landlord_id.

Eliminate any duplicate rows in the input data before processing.

Join both datasets using the landlord_id.

Only include landlords who have at least one property.

Sum the rent across all properties owned by a landlord.

Construct the landlord_name as: first_name + ' ' + last_name.

Expected Output
Return a summary DataFrame/table with the following structure:

Column Name	Data Type	Description
landlord_id	Integer	Unique ID of the landlord
landlord_name	String	Full name of the landlord (first_name + ' ' + last_name)
total_rental_income	Float	Total rental income generated by all properties owned
ðŸ“Œ Requirements
Eliminate any duplicate rows in the input data before processing.

Join both datasets using the landlord_id.

Only include landlords who have at least one property.

Sum the rent across all properties owned by a landlord.

Construct the landlord_name as: first_name + ' ' + last_name.

Expected Output
landlord_id	landlord_name	total_rental_income
101	John Smith	2700.0
102	Jane Doe	2000.0
103	Bob Johnson	2800.0

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import Window as W
import pyspark
import datetime
import json

spark = SparkSession.builder.appName('run-pyspark-code').getOrCreate()

def etl(prop_landlords, prop_properties):

  landlords_clean = prop_landlords.dropDuplicates()
  properties_clean = prop_properties.dropDuplicates()
  # Write code here
  joined_df = landlords_clean.join(properties_clean, on="landlord_id", how="inner")
  #rent income generated
  result_df = joined_df.groupBy("landlord_id").agg(
    F.concat_ws(" ", F.first("first_name"), F.first("last_name")).alias("landlord_name"),
    F.sum("rent").alias("total_rental_income")
  )

  return result_df

Problem staetment